

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family:'minhafonte';
  src:url("/fonts/Roboto-Slab/RobotoSlab-Regular.ttf");
}

#calendar {
  max-width: 1100px;
  margin: 40px auto;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "minhafonte", sans-serif;
}

header{
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  transition: 0.5s ease;
}

header .logo{
  color: rgba(0, 0, 0, 0.815);
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header .navigation{
  position: relative;
}

header .navigation .navigation-items a{
  position: relative;
  color: rgba(0, 0, 0, 0.815);
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:before{
  content: '';
  position: absolute;
  background: #F58634;
  width: 0;
  height: 3px;
  bottom: -1px;
  left: 0;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before{
  width: 100%;
}

section{
  padding: 40px 200px;
}

.home{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #F58634;
}











/* FOOTER */

footer{
  background-color: black;
  margin-top: 10px;
  padding: 10px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}





  header{
    padding: 12px 20px;
  }


 

@media (max-width: 560px){
  .home .content h1{
    font-size: 3em;
    line-height: 60px;
  }
  


}


