
.md {
  font-size: 40px;
}
.md2 {
  font-size: 20px;
}
.container {
  max-width: 1500px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 60px;
}

.text-center {
  text-align: center;
}

.flex {
  display: column;
  justify-content: right;
  align-items: center;
  height: 100%;
}

.my-2 {
  margin: 3rem 10PX;
}






